@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
section,
summary {
    display: block;
}

audio,
canvas,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden] {
    display: none;
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

a:focus {
    outline: none;
}

a:active,
a:hover {
    outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
pre,
address {
    font-size: 100%;
}

b,
strong {
    font-weight: 700;
}

i,
em {
    font-style: italic;
}

address {
    font-style: normal;
}

abbr[title] {
    border-bottom: 1px dotted;
}

blockquote {
    margin: 1rem;
}

dfn {
    font-style: italic;
}

mark {
    background: #ff0;
    color: #000;
}

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 100%;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

q {
    quotes: none;
}

q:before,
q:after {
    content: '';
    content: none;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

dl,
menu,
ol,
ul,
li {
    margin: 0;
}

dd {
    margin: 0 0 0 1em;
}

menu,
ol,
ul,
li {
    padding: 0;
}

nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 0;
}

form {
    margin: 0;
}

form,
textarea,
input,
select {
    outline: none;
    text-indent: 0;
    margin: 0;
    padding: 0;
    border: 0;
    white-space: normal;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: .35em .625em .75em;
}

legend {
    border: 0;
    padding: 0;
    white-space: normal;
}


input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    background: transparent;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
}

button[disabled],
input[disabled] {
    cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
    display: inline-block;
    padding: 0;
    border: 1px solid #000;
    height: 1.6rem;
    width: 1.6rem;
    cursor: pointer;
}

input[type="radio"] {
    border-radius: 50%;
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
    background-color: #000;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
    -moz-resize: vertical;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}




/* Grids */

.col1-12 {
    width: 8.333%;
}

.col2-12 {
    width: 16.666%;
}

.col3-12 {
    width: 25%;
}

.col4-12 {
    width: 33.333%;
}

.col5-12 {
    width: 41.666%;
}

.col6-12 {
    width: 50%;
}

.col7-12 {
    width: 58.333%;
}

.col8-12 {
    width: 66.666%;
}

.col9-12 {
    width: 75%;
}

.col10-12 {
    width: 83.333%;
}

.col11-12 {
    width: 91.333%;
}

.col12-12 {
    width: 100%;
}